parameters:
    # Level of error reporting, 0 being the least strict and 8 the most strict
    level: 0

    # List of directories to analyze
    paths:
        - app
        - tests
        - database
        - config

